<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Attractions</title>
  <link rel="stylesheet" th:href="@{../addAttraction.css}">
</head>
<body>
<h1>Attractions</h1>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Town</th>
    <th>Tags</th>
  </tr>
  <tr th:each="attraction : ${attractions}">
    <td th:text="${attraction.name}"></td>
    <td id="describe" th:text="${attraction.description}"></td>
    <td th:text="${attraction.town}"></td>
    <td id="tags" th:text="${attraction.tags}"></td>
  </tr>
</table>
<a href="/attractions/add">Add Another Attractions</a>
</body>
</html>